<div class="wrapper-overview">
	<app-add-task tabindex="-1"></app-add-task>

	<ul class="wrapper-tasks">
		<ng-container *ngFor="let task of taskList">
			<li class="list-item" *ngIf="task.status !== 'deleted'">
				<app-task
					[task]="task"
					(deleteTaskStart)="deleteTaskStart(task)"
					tabindex="-1"
					>
                </app-task>
            </li>
		</ng-container>
	</ul>
</div>

<div
    class="modal-backdrop closed"
    (click)="closeModal()"
    [ngClass]="{open: modalOpen, closed: !modalOpen}"
    tabindex="-1"
    >
</div>

<div class="modal-wrapper closed" [ngClass]="{open: modalOpen, closed: !modalOpen}" tabindex="-1">
	<div class="modal" tabindex="-1">
		<p tabindex="-1">Are you sure you want to delete this task?</p>

		<p tabindex="-1"><strong *ngIf="taskToDelete">{{taskToDelete.text}}</strong></p>

		<div class="wrapper-buttons" tabindex="-1">
			<button [tabindex]="modalOpen ? 0 : -1" class="button button-cancel" (click)="closeModal()" #buttonRef>No, sorry.</button>
			<button [tabindex]="modalOpen ? 0 : -1" class="button button-delete" (click)="confirmDeleteTask()">Yes, delete
				it.</button>
		</div>
	</div>
</div>
